body {
    background-color: lightgray;

}
.topnav {
    background-color: #090909;
    overflow: hidden;
}


.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #605E5E;
    color: black;
}

.topnav a.active {
    background-color: #605E5E;
    color: white;
}

h1 {
    font-family: 'Poller One';
    color: #2c49ea;
    font-size: 50px;
    text-shadow: 2px 2px 8px #666161;
}

h2 {
    font-size: 30px;
    text-decoration: underline;
    
}
p {
    font-family: 'Staatliches', cursive;
    font-size: 20px;
}

.functions {
    background-image: url("img/Functions.jpg");
    height: 100px;
    width: 50vw;
    border-radius: 10px;
}

.objects {
    background-image: url("img/Objects.jpg");
    height: 120px;
    width: 50vw;
    border-radius: 10px;
}

.arrays {
    background-image: url("img/Arrays.jpg");
    height: 80px;
    width: 50vw;
    border-radius: 10px;  
}

.forLoop {
    background-image: url("img/ForLoop.jpg");
    height: 110px;
    width: 50vw;
    border-radius: 10px;
}

.conditionals {
    background-image: url("img/Conditionals.jpg");
    height: 180px;
    width: 40vw;
    border-radius: 10px;
}


#sidebar {
    float: right;
    margin-top: 10px;
    padding-left: 5px;
    height: 180vh;
    border: solid 4px #605e5e;
    border-radius: 5px;
    border-top: 0 transparent;
    border-right: 0 transparent;
    border-bottom: 0 transparent;

}
#sidebar a:hover {
    color: rgb(36, 12, 247);
    text-decoration: none;
    font-weight: none;
}
#sidebar a{
    display: block;
    text-align: center;
    color: #000;
    margin: 0;
    padding-bottom: 20px;
}

footer {
    font-family: 'Staatliches', cursive;
    margin-top: 10px;
}
